@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
  --borders: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.nav {
  display: flex;
  background-color: #263238;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.title > img {
  height: 100px;
  padding: 0;
  margin-left:7%;
}

.searchbar {
  align-self: center;
  border-bottom: 1px solid var(--borders);
  padding-bottom: 5pt;
  margin-right: 5pt;
  margin-left: 5pt;
}

#search {
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--borders);
  border-width: 1px;
  padding: 5pt;
  font-size: 15px;
  margin: 5px;
  font-weight: bolder;
}

.links {
  font-style: none;
  text-decoration: none;
  text-align: center;
  padding-right: 1.2em;
  padding-left: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.7em;
  transition: background-color 0.5s;
  font-size: 15pt;
  color: #fff;
}

.links:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}
.profile {
  --padding: 10pt;
  /* width: calc(100% - 2 * var(--padding)); */
  padding: var(--padding);
  background-color: #616161;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.profilePic {
  width: 30pt;
  height: 30pt;
}

.buttons > button {
  background-color: inherit;
  border-style: none;
  border-bottom-style: solid;
  transition: background-color 0.5s;
  color: #fff;
  font-size: 20px;
}

.buttons > button:hover {
  background-color: #757575;
}

a {
  margin: auto 0;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  background-image: url('https://1348661504.rsc.cdn77.org/.uc/f1d061fce010211870f00d8fc4903fc390b00deba460300/logo-utwente-foto-spiegel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.texto {
  color: white;
  margin-top: 400px;
  font-size: 30px;
  background-color: #263238;
}

.texto2 {
  margin-left: 30px;
  margin-right: 30px;
}
.container.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main > button {
background-color: #616161;
border: #616161;
float: left;
font-size: 2em;
color: white;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.submain > button {
background-color: #616161;
border: #616161;
float: left;
font-size: 25px;
color: white;
display: flex;
flex-direction: row;
justify-content: flex-start;

}

.submain {
  justify-content: space-around;
  display: flex;
}

.buttons{
  display: flex;
}

.tab-content {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  border: 10px;
  border-color: black;
}
.login {
  margin-left: 50px;
}
.header {
  flex: none;
  position: relative;
  width: 100%;
  height: 320px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/lake.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#para_header {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 54px;
  font-weight: 700;
  line-height: 58px;
  color: #cad5e6;
  text-align: center;
}

.form_layer {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

#year {
  margin-bottom: 30px;
}

.form_contents {
  margin-top: 20px;
}

.form_label {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.labeled {
  padding-right: 15px;
}

.form_input {
  min-width: 380px;
  max-width: 380px;
}

.text_input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid grey;
}

.form_radio {
  text-align: left;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #4caf50;
} /* Green */

.submit {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  transition: 0.3s;
}
.btn:hover {
  background-color: #5cbf2a;
}
.btn:active {
  position: relative;
  top: 1px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.table {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 75px;
  width: none;
}
