@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
  --borders: rgba(255,255,255,0.2);
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}


.nav {
  display: flex;
  background-color: #263238;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.title>img {
  width: 200px;
  height: 70px;
  padding: 0;
  margin: 0;
}

.searchbar {
  align-self: center;
  border-bottom: 1px solid var(--borders);
  padding-bottom: 5pt;
  margin-right: 5pt;
  margin-left: 5pt;
}

#search {
  align-self: center;
  background-color: rgba(0,0,0,0);
  border-color: var(--borders);
  border-width: 1px;
  padding: 5pt;
  font-size: 15px;
  margin: 5px;
  font-weight: bolder;
}

.links {
  font-style: none;
  text-decoration: none;
  text-align: center;
  padding-right: 1.2em;
  padding-left: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.7em;
  transition: background-color 0.5s;
  font-size: 15pt;
  color: #fff;
}

.links:hover {
  background-color: rgba(255,255,255,0.2);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}
.profile {
  --padding: 10pt;
  width: calc(100% - 2 * var(--padding));
  padding: var(--padding);
  background-color: #616161;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.profilePic {
  width: 30pt;
  height: 30pt;
}

.profile>button {
  background-color: inherit;
  border-style: none;
  border-bottom-style: solid;
  margin-left: 5px;
  border-bottom-width: 1px;
  border-bottom-color: #757575;
  transition: background-color 0.5s;
  color: #fff;
}

.profile>button:hover {
  background-color: #757575;
}

.content-data {
    margin: 20pt;
}

table {
  border: 1px solid rgba(0,0,0,0.2);
}

table td {
  padding: 5px;
}